body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 56px; /* Ajusta este valor según la altura de tu navbar */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.container-fluid {
  max-width: 1200px;
}

h2 {
  color: #6c757d;
  margin-bottom: 1rem;
}

.table th {
  background-color: #f8f9fa;
}

.nav-tabs {
  margin-bottom: 1rem;
}